.App {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.profile-image{
  width: 50%;
  margin: auto;
}
img{
  width: 100%;
}

.form{
  width: 60%;
  margin:7%  auto;
}
.dog-image{
  width: 90%;
}
#container{
  width: 50%;
  margin-top: 4%;
}
.cont{
  background: linear-gradient(to right , #01a9ac, #1D80A6);
}
  .icon{
    font-weight: bold;
    font-size: 30px;
  }

  .info-head{
    padding-top: 5%;
    /* border-bottom: solid grey; */
  }
  .cont-image{
    width: 80%;
    margin: 20px auto;
  }
  .nav-bg{
    background-color: #1D80A6;
  }
  .navbar{
    padding: 2rem 1rem;
  }
  h5,h6{
    text-align: center;
   
  }
  #button-edit{
    background-color: #000;
  }

  .header,.content{
    padding: 0.5%;
  }

  .modal {
    height: auto;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
}
.content{
  margin-top: 5%;
}

#card{
  width: 60%;
  margin: 10px auto;
}
.form{
  width: 90%;
  margin: 7 auto;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
